

<div class="navbar navbar-inverse navbar-fixed-top  topNavShade">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <img style="position: fixed; top: 0; left: 50%; margin-left: -84px" src="~/Common/Images/AllegroTech_Logo.png" width="168" height="70" />
        <div class="collapse navbar-collapse">
            <ul id="horizontal-list">
                <li id="w1" class="dropdown pad25">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Marketing<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="/content/page-manager">&nbsp;&nbsp;Page Content Manager</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a href="/content/campaigns">&nbsp;&nbsp;Banner Campaigns</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a href="/content/sales-campaigns">&nbsp;&nbsp;Feature Campaigns</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a href="/content/home-scroll">&nbsp;&nbsp;Home Page Scroll</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li id="w2" class="dropdown pad25">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orders<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="../orders/cookorder">&nbsp;&nbsp;Create New Order</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a href="../orders/orderlist">&nbsp;&nbsp;Existing Orders</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                @*<li id="w3" class="dropdown pad25">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounting<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="#">&nbsp;&nbsp;No Links Yet</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>*@
                <li id="w4" class="dropdown pad170">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="/data-feed-admin/edit-manufacturers">&nbsp;&nbsp;Gun Feed: Manufacturers</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a href="/data-feed-admin/manage-duplicates">&nbsp;&nbsp;Gun Feed: Duplicates</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a href="/data-feed-admin/missing-gun-specs/all-specs">&nbsp;&nbsp;Gun Feed: Missing Data</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a href="/data-feed-admin/edit-images">&nbsp;&nbsp;Gun Feed: Images</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li id="w5" class="dropdown pad25">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Inventory<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="/inventory/guns">&nbsp;&nbsp;Guns</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a href="/inventory/ammo">&nbsp;&nbsp;Ammunition</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a href="/inventory/merchandise">&nbsp;&nbsp;Merchandise</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li id="w6" class="dropdown pad25">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Customers<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="/customer/register">&nbsp;&nbsp;Add Customer</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                @*<li id="w7" class="dropdown pad25">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Advertising<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="/customer/register">&nbsp;&nbsp;Add Customer</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>*@
                <li id="w8" class="dropdown pad25">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Compliance<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="../Compliance/gunbook">&nbsp;&nbsp;ATF Bound Book</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a href="../Compliance/cflc">&nbsp;&nbsp;CA Shipping Log</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a href="../Compliance/cahicap">&nbsp;&nbsp;CA Hi-Cap Mags</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
